<?xml version='1.0' encoding='UTF-8' standalone='no' ?>
<!DOCTYPE OPS_envelope SYSTEM 'ops.dtd'>
<OPS_envelope>
   <header>
      <version>0.9</version>
   </header>
   <body>
      <data_block>
         <dt_assoc>
            <item key='protocol'>XCP</item>
            <item key='action'>REPLY</item>
            <item key='object'>DOMAIN</item>
            <item key='is_success'>1</item>
            <item key='response_code'>200</item>
            <item key='response_text'>Command completed successfully</item>
            <item key='attributes'>
               <dt_assoc>
                  <item key='field_hash'>
                     <dt_assoc>
                        <item key='owner_first_name'><%= @data[:owner][:first_name] %></item>
                        <item key='owner_last_name'><%= @data[:owner][:last_name] %></item>
                        <item key='owner_org_name'><%= @data[:owner][:org_name] %></item>
                        <item key='owner_address1'><%= @data[:owner][:address1] %></item>
                        <item key='owner_address2'><%= @data[:owner][:address2] %></item>
                        <item key='owner_address3'><%= @data[:owner][:address3] %></item>
                        <item key='owner_city'><%= @data[:owner][:city] %></item>
                        <item key='owner_state'><%= @data[:owner][:state] %></item>
                        <item key='owner_country'><%= @data[:owner][:country] %></item>
                        <item key='owner_postal_code'><%= @data[:owner][:postal_code] %></item>
                        <item key='owner_phone'><%= @data[:owner][:phone] %></item>
                        <item key='owner_fax'><%= @data[:owner][:fax] %></item>
                        <item key='owner_email'><%= @data[:owner][:email] %></item>
                        <item key='admin_first_name'><%= @data[:admin][:first_name] %></item>
                        <item key='admin_last_name'><%= @data[:admin][:last_name] %></item>
                        <item key='admin_org_name'><%= @data[:admin][:org_name] %></item>
                        <item key='admin_address1'><%= @data[:admin][:address1] %></item>
                        <item key='admin_address2'><%= @data[:admin][:address2] %></item>
                        <item key='admin_address3'><%= @data[:admin][:address3] %></item>
                        <item key='admin_city'><%= @data[:admin][:city] %></item>
                        <item key='admin_state'><%= @data[:admin][:state] %></item>
                        <item key='admin_country'><%= @data[:admin][:country] %></item>
                        <item key='admin_postal_code'><%= @data[:admin][:postal_code] %></item>
                        <item key='admin_phone'><%= @data[:admin][:phone] %></item>
                        <item key='admin_fax'><%= @data[:admin][:fax] %></item>
                        <item key='admin_email'><%= @data[:admin][:email] %></item>
                        <item key='billing_first_name'><%= @data[:billing][:first_name] %></item>
                        <item key='billing_last_name'><%= @data[:billing][:last_name] %></item>
                        <item key='billing_org_name'><%= @data[:billing][:org_name] %></item>
                        <item key='billing_address1'><%= @data[:billing][:address1] %></item>
                        <item key='billing_address2'><%= @data[:billing][:address2] %></item>
                        <item key='billing_address3'><%= @data[:billing][:address3] %></item>
                        <item key='billing_city'><%= @data[:billing][:city] %></item>
                        <item key='billing_state'><%= @data[:billing][:state] %></item>
                        <item key='billing_country'><%= @data[:billing][:country] %></item>
                        <item key='billing_postal_code'><%= @data[:billing][:postal_code] %></item>
                        <item key='billing_phone'><%= @data[:billing][:phone] %></item>
                        <item key='billing_fax'><%= @data[:billing][:fax] %></item>
                        <item key='billing_email'><%= @data[:billing][:email] %></item>
                        <item key='tech_first_name'><%= @data[:tech][:first_name] %></item>
                        <item key='tech_last_name'><%= @data[:tech][:last_name] %></item>
                        <item key='tech_org_name'><%= @data[:tech][:org_name] %></item>
                        <item key='tech_address1'><%= @data[:tech][:address1] %></item>
                        <item key='tech_address2'><%= @data[:tech][:address2] %></item>
                        <item key='tech_address3'><%= @data[:tech][:address3] %></item>
                        <item key='tech_city'><%= @data[:tech][:city] %></item>
                        <item key='tech_state'><%= @data[:tech][:state] %></item>
                        <item key='tech_country'><%= @data[:tech][:country] %></item>
                        <item key='tech_postal_code'><%= @data[:tech][:postal_code] %></item>
                        <item key='tech_phone'><%= @data[:tech][:phone] %></item>
                        <item key='tech_fax'><%= @data[:tech][:fax] %></item>
                        <item key='tech_email'><%= @data[:tech][:email] %></item>
                        <item key='comments'><%= @data[:comments] %></item>
                        <item key='reg_domain'><%= @data[:reg_domain] %></item>
                        <item key='domain'><%= @data[:domain] %></item>
                        <item key='transfer_notes'>
                           <dt_array>
                           <% @data[:transfer_notes].each_with_index do |item, index| %>
                              <item key='<%= index %>'>
                                 <dt_assoc>
                                    <item key='timestamp'><%= item[:timestamp] %></item>
                                    <item key='note'><%= item[:note] %></item>
                                 </dt_assoc>
                              </item>
                           <% end %>
                           </dt_array>
                        </item>
                        <item key='affiliate_id'><%= @data[:affiliate_id] %></item>
                        <item key='order_date'><%= @data[:order_date] %></item>
                        <item key='status'><%= @data[:status] %></item>
                        <item key='f_lock_domain'><%= @data[:f_lock_domain] %></item>
                        <item key='forwarding_email'><%= @data[:forwarding_email] %></item>
                        <item key='flag_saved_ns_fields'><%= @data[:flag_saved_ns_fields] %></item>
                        <item key='processed_date'><%= @data[:processed_date] %></item>
                        <item key='id'><%= @data[:id] %></item>
                        <item key='encoding_type'><%= @data[:encoding_type] %></item>
                        <item key='flag_saved_tech_fields'><%= @data[:flag_saved_tech_fields] %></item>
                        <item key='completed_date'><%= @data[:completed_date] %></item>
                        <item key='f_auto_renew'><%= @data[:f_auto_renew] %></item>
                        <item key='fqdn1'><%= @data[:fqdn1] %></item>
                        <item key='fqdn2'><%= @data[:fqdn2] %></item>
                        <item key='fqdn3'><%= @data[:fqdn3] %></item>
                        <item key='fqdn4'><%= @data[:fqdn4] %></item>
                        <item key='fqdn5'><%= @data[:fqdn5] %></item>
                        <item key='fqdn6'><%= @data[:fqdn6] %></item>
                        <item key='reg_type'><%= @data[:reg_type] %></item>
                        <item key='notes'>
                           <dt_array>
                           <% @data[:notes].each_with_index do |item, index| %>
                              <item key='<%= index %>'>
                                 <dt_assoc>
                                    <item key='timestamp'><%= item[:timestamp] %></item>
                                    <item key='note'><%= item[:note] %></item>
                                 </dt_assoc>
                              </item>
                           <% end %>
                           </dt_array>
                        </item>
                        <item key='master_order_id'><%= @data[:master_order_id] %></item>
                        <item key='period'><%= @data[:period] %></item>
                        <item key='cost'><%= @data[:cost] %></item>
                     </dt_assoc>
                  </item>
               </dt_assoc>
            </item>
         </dt_assoc>
      </data_block>
   </body>
</OPS_envelope>
