<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<!DOCTYPE OPS_envelope SYSTEM 'ops.dtd'>
<OPS_envelope>
  <header>
    <version>0.9</version>
  </header>
  <body>
    <data_block>
      <dt_assoc>
        <item key='protocol'>XCP</item>
        <item key='action'>REPLY</item>
        <item key='object'>TRUST_SERVICE</item>
        <item key='is_success'>1</item>
        <item key='response_text'>Command completed successfully.</item>
        <item key='response_code'>200</item>
        <item key='attributes'>
          <dt_assoc>
            <item key='csr_data'>
              <dt_assoc>
                <item key='country'><%= @data[:csr_data][:country] %></item>
                <item key='organization_unit'><%= @data[:csr_data][:organization_unit] %></item>
                <item key='valid_true_domain'><%= @data[:csr_data][:valid_true_domain] %></item>
                <item key='state'><%= @data[:csr_data][:state] %></item>
                <item key='locality'><%= @data[:csr_data][:locality] %></item>
                <item key='email'><%= @data[:csr_data][:email] %></item>
                <item key='domain'><%= @data[:csr_data][:domain] %></item>
                <item key='valid_quick_domain'><%= @data[:csr_data][:valid_quick_domain] %></item>
                <item key='has_bad_extensions'><%= @data[:csr_data][:has_bad_extensions] %></item>
                <item key='organization'><%= @data[:csr_data][:organization] %></item>
              </dt_assoc>
            </item>
            <item key='notes_list'>
              <dt_array>
                 <% @data[:notes_list].each_with_index do |item, index| %>
                    <item key='<%= index %>'>
                      <dt_assoc>
                        <item key='date'><%= item[:date] %></item>
                        <item key='type'><%= item[:type] %></item>
                        <item key='note'><%= item[:note] %></item>
                      </dt_assoc>
                    </item>
                 <% end %>
              </dt_array>
            </item>
            <item key='expiry_date'><%= @data[:expiry_date] %></item>
            <item key='state'><%= @data[:state] %></item>
            <item key='product_type'><%= @data[:product_type] %></item>
            <item key='domain'><%= @data[:domain] %></item>
            <item key='issue_date'><%= @data[:issue_date] %></item>
            <item key='product_id'><%= @data[:product_id] %></item>
            <item key='is_renewable'><%= @data[:is_renewable] %></item>
            <item key='contact_email'><%= @data[:contact_email] %></item>
            <item key='contact_set'>
              <dt_assoc>
                <item key='admin'>
                  <dt_assoc>
                    <item key='first_name'><%= @data[:contact_set][:admin][:first_name] %></item>
                    <item key='last_name'><%= @data[:contact_set][:admin][:last_name] %></item>
                    <item key='title'><%= @data[:contact_set][:admin][:title] %></item>
                    <item key='org_name'><%= @data[:contact_set][:admin][:org_name] %></item>
                    <item key='address1'><%= @data[:contact_set][:admin][:address1] %></item>
                    <item key='address2'><%= @data[:contact_set][:admin][:address2] %></item>
                    <item key='city'><%= @data[:contact_set][:admin][:city] %></item>
                    <item key='region'><%= @data[:contact_set][:admin][:region] %></item>
                    <item key='country'><%= @data[:contact_set][:admin][:country] %></item>
                    <item key='country_id'><%= @data[:contact_set][:admin][:country_id] %></item>
                    <item key='postal_code'><%= @data[:contact_set][:admin][:postal_code] %></item>
                    <item key='phone'><%= @data[:contact_set][:admin][:phone] %></item>
                    <item key='email'><%= @data[:contact_set][:admin][:email] %></item>
                    <item key='fax'><%= @data[:contact_set][:admin][:fax] %></item>
                  </dt_assoc>
                </item>
                <item key='tech'>
                  <dt_assoc>
                    <item key='first_name'><%= @data[:contact_set][:tech][:first_name] %></item>
                    <item key='last_name'><%= @data[:contact_set][:tech][:last_name] %></item>
                    <item key='title'><%= @data[:contact_set][:tech][:title] %></item>
                    <item key='org_name'><%= @data[:contact_set][:tech][:org_name] %></item>
                    <item key='address1'><%= @data[:contact_set][:tech][:address1] %></item>
                    <item key='address2'><%= @data[:contact_set][:tech][:address2] %></item>
                    <item key='city'><%= @data[:contact_set][:tech][:city] %></item>
                    <item key='region'><%= @data[:contact_set][:tech][:region] %></item>
                    <item key='country'><%= @data[:contact_set][:tech][:country] %></item>
                    <item key='country_id'><%= @data[:contact_set][:tech][:country_id] %></item>
                    <item key='postal_code'><%= @data[:contact_set][:tech][:postal_code] %></item>
                    <item key='phone'><%= @data[:contact_set][:tech][:phone] %></item>
                    <item key='email'><%= @data[:contact_set][:tech][:email] %></item>
                    <item key='fax'><%= @data[:contact_set][:tech][:fax] %></item>
                  </dt_assoc>
                </item>
                <item key='organization'>
                  <dt_assoc>
                    <item key='first_name'><%= @data[:contact_set][:organization][:first_name] %></item>
                    <item key='last_name'><%= @data[:contact_set][:organization][:last_name] %></item>
                    <item key='title'><%= @data[:contact_set][:organization][:title] %></item>
                    <item key='org_name'><%= @data[:contact_set][:organization][:org_name] %></item>
                    <item key='address1'><%= @data[:contact_set][:organization][:address1] %></item>
                    <item key='address2'><%= @data[:contact_set][:organization][:address2] %></item>
                    <item key='city'><%= @data[:contact_set][:organization][:city] %></item>
                    <item key='region'><%= @data[:contact_set][:organization][:region] %></item>
                    <item key='country'><%= @data[:contact_set][:organization][:country] %></item>
                    <item key='country_id'><%= @data[:contact_set][:organization][:country_id] %></item>
                    <item key='postal_code'><%= @data[:contact_set][:organization][:postal_code] %></item>
                    <item key='phone'><%= @data[:contact_set][:organization][:phone] %></item>
                    <item key='email'><%= @data[:contact_set][:organization][:email] %></item>
                    <item key='fax'><%= @data[:contact_set][:organization][:fax] %></item>
                  </dt_assoc>
                </item>
                <item key='billing'>
                  <dt_assoc>
                    <item key='first_name'><%= @data[:contact_set][:billing][:first_name] %></item>
                    <item key='last_name'><%= @data[:contact_set][:billing][:last_name] %></item>
                    <item key='title'><%= @data[:contact_set][:billing][:title] %></item>
                    <item key='org_name'><%= @data[:contact_set][:billing][:org_name] %></item>
                    <item key='address1'><%= @data[:contact_set][:billing][:address1] %></item>
                    <item key='address2'><%= @data[:contact_set][:billing][:address2] %></item>
                    <item key='city'><%= @data[:contact_set][:billing][:city] %></item>
                    <item key='region'><%= @data[:contact_set][:billing][:region] %></item>
                    <item key='country'><%= @data[:contact_set][:billing][:country] %></item>
                    <item key='country_id'><%= @data[:contact_set][:billing][:country_id] %></item>
                    <item key='postal_code'><%= @data[:contact_set][:billing][:postal_code] %></item>
                    <item key='phone'><%= @data[:contact_set][:billing][:phone] %></item>
                    <item key='email'><%= @data[:contact_set][:billing][:email] %></item>
                    <item key='fax'><%= @data[:contact_set][:billing][:fax] %></item>
                  </dt_assoc>
                </item>
              </dt_assoc>
            </item>
            <item key='csr'><%= @data[:csr] %></item>
            <item key='upgrade_options'><%= @data[:upgrade_options] %></item>
            <item key='start_date'><%= @data[:start_date] %></item>
          </dt_assoc>
        </item>
      </dt_assoc>
    </data_block>
  </body>
</OPS_envelope>