<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<!DOCTYPE OPS_envelope SYSTEM 'ops.dtd'>
<OPS_envelope>
   <header>
     <version>0.9</version>
   </header>
   <body>
      <data_block>
         <dt_assoc>
            <item key='protocol'>XCP</item>
            <item key='action'>REPLY</item>
            <item key='object'>TRUST_SERVICE</item>
            <item key='is_success'>1</item>
            <item key='response_text'>Command completed successfully.</item>
            <item key='response_code'>200</item>
            <item key='attributes'>
               <dt_assoc>
                  <item key='product_type'><%= @data[:product_type] %></item>
                  <item key='issue_date'><%= @data[:issue_date] %></item>
                  <item key='domain'><%= @data[:domain] %></item>
                  <item key='product_id'><%= @data[:product_id] %></item>
                  <item key='contact_email'><%= @data[:contact_email] %></item>
                  <item key='start_date'><%= @data[:start_date] %></item>
                  <item key='expiry_date'><%= @data[:expiry_date] %></item>
                  <item key='is_renewable'><%= @data[:is_renewable] %></item>
                  <item key='state'><%= @data[:state] %></item>
               </dt_assoc>
            </item>
         </dt_assoc>
      </data_block>
   </body>
</OPS_envelope>
