<?xml version='1.0' encoding='UTF-8' standalone='no' ?>
<!DOCTYPE OPS_envelope SYSTEM 'ops.dtd'>
<OPS_envelope>
  <header>
    <version>0.9</version>
  </header>
  <body>
    <data_block>
      <dt_assoc>
        <item key='protocol'>XCP</item>
        <item key='action'>REPLY</item>
        <item key='object'>TRUST_SERVICE</item>
        <item key='response_code'>200</item>
        <item key='response_text'>Command completed successfully.</item>
        <item key='is_success'>1</item>
        <item key='attributes'>
          <dt_assoc>
            <item key='special_instructions'><%= @data[:special_instructions] %></item>
            <item key='period'><%= @data[:period] %></item>
            <item key='notes_list'>
              <dt_array>
                <% @data[:notes_list].each do |item, index| %>
                <item key='<%= index %>'>
                  <dt_assoc>
                    <item key='date'><%= item[:date] %></item>
                    <item key='type'><%= item[:type] %></item>
                    <item key='note'><%= item[:note] %></item>
                  </dt_assoc>
                </item>
                <% end %>
              </dt_array>
            </item>
            <item key='order_id'><%= @data[:order_id] %></item>
            <item key='state'><%= @data[:state] %></item>
            <item key='product_type'><%= @data[:product_type] %></item>
            <item key='domain'><%= @data[:domain_name] %></item>
            <item key='product_id'><%= @data[:product_id] %></item>
            <item key='contact_email'><%= @data[:contact_email] %></item>
            <item key='contact_set'>
              <dt_assoc>
                <% admin = @data[:contact_set][:admin] %>
                <item key='admin'>
                  <dt_assoc>
                    <item key='first_name'><%= admin[:first_name] %></item>
                    <item key='last_name'><%= admin[:last_name] %></item>
                    <item key='title'><%= admin[:title] %></item>
                    <item key='address1'><%= admin[:address1] %></item>
                    <item key='address2'><%= admin[:address2] %></item>
                    <item key='address3'><%= admin[:address3] %></item>
                    <item key='city'><%= admin[:city] %></item>
                    <item key='state'><%= admin[:state] %></item>
                    <item key='country'><%= admin[:country] %></item>
                    <item key='postal_code'><%= admin[:postal_code] %></item>
                    <item key='org_name'><%= admin[:org_name] %></item>
                    <item key='email'><%= admin[:email] %></item>
                    <item key='phone'><%= admin[:phone] %></item>
                    <item key='fax'><%= admin[:fax] %></item>
                  </dt_assoc>
                </item>
                <% tech = @data[:contact_set][:tech] %>
                <item key='tech'>
                  <dt_assoc>
                    <item key='first_name'><%= tech[:first_name] %></item>
                    <item key='last_name'><%= tech[:last_name] %></item>
                    <item key='title'><%= tech[:title] %></item>
                    <item key='org_name'><%= tech[:org_name] %></item>
                    <item key='address1'><%= tech[:address1] %></item>
                    <item key='address2'><%= tech[:address2] %></item>
                    <item key='address3'><%= tech[:address3] %></item>
                    <item key='city'><%= tech[:city] %></item>
                    <item key='state'><%= tech[:state] %></item>
                    <item key='country'><%= tech[:country] %></item>
                    <item key='postal_code'><%= tech[:postal_code] %></item>
                    <item key='phone'><%= tech[:phone] %></item>
                    <item key='fax'><%= tech[:fax] %></item>
                    <item key='email'><%= tech[:email] %></item>
                  </dt_assoc>
                </item>
                <% organization = @data[:contact_set][:organization] %>
                <item key='organization'>
                  <dt_assoc>
                    <item key='org_name'><%= organization[:org_name] %></item>
                    <item key='duns'><%= organization[:duns] %></item>
                    <item key='address1'><%= organization[:address1] %></item>
                    <item key='address2'><%= organization[:address2] %></item>
                    <item key='address3'><%= organization[:address3] %></item>
                    <item key='city'><%= organization[:city] %></item>
                    <item key='state'><%= organization[:state] %></item>
                    <item key='postal_code'><%= organization[:postal_code] %></item>
                    <item key='country'><%= organization[:country] %></item>
                    <item key='phone'><%= organization[:phone] %></item>
                    <item key='fax'><%= organization[:fax] %></item>
                  </dt_assoc>
                </item>
                <% billing = @data[:contact_set][:billing] %>
                <item key='billing'>
                  <dt_assoc>
                    <item key='first_name'><%= billing[:first_name] %></item>
                    <item key='last_name'><%= billing[:last_name] %></item>
                    <item key='org_name'><%= billing[:org_name] %></item>
                    <item key='title'><%= billing[:title] %></item>
                    <item key='address1'><%= billing[:address1] %></item>
                    <item key='address2'><%= billing[:address2] %></item>
                    <item key='address3'><%= billing[:address3] %></item>
                    <item key='city'><%= billing[:city] %></item>
                    <item key='state'><%= billing[:state] %></item>
                    <item key='postal_code'><%= billing[:postal_code] %></item>
                    <item key='country'><%= billing[:country] %></item>
                    <item key='phone'><%=billing[:phone]  %></item>
                    <item key='fax'><%=billing[:fax]  %></item>
                    <item key='email'><%= billing[:email] %></item>
                  </dt_assoc>
                </item>
              </dt_assoc>
            </item>
            <item key='csr'><%= @data[:csr] %></item>
            <item key='reg_type'><%= @data[:reg_type] %></item>
            <item key='price'><%= @data[:price] %></item>
            <item key='server_type'><%= @data[:server_type] %></item>
            <item key='supplier_order_id'><%= @data[:supplier_order_id] %></item>
          </dt_assoc>
        </item>
      </dt_assoc>
    </data_block>
  </body>
</OPS_envelope>
