<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<!DOCTYPE OPS_envelope SYSTEM 'ops.dtd'>
<OPS_envelope>
   <header>
     <version>0.9</version>
   </header>
   <body>
      <data_block>
         <dt_assoc>
            <item key="protocol">XCP</item>
            <item key="action">REPLY</item>
            <item key="object">DOMAIN</item>
            <item key="is_success">1</item>
            <item key="response_code">200</item>
            <item key="response_text">Domain registration successfully completed. WHOIS Privacy successfully enabled. Domain successfully locked.</item>
            <item key="attributes">
               <dt_assoc>
                  <item key="admin_email"><%= @data[:admin_email] %></item>
                  <item key="whois_privacy_state"><%= @data[:whois_privacy_state] %></item>
                  <item key="registration_text"><%= @data[:registration_text] %></item>
                  <item key="registration_code"><%= @data[:registration_code] %></item>
                  <item key="id"><%= @data[:id] %></item>
                  <item key="cancelled_orders">
                    <dt_array>
                      <% @data[:cancelled_orders].each_with_index do |item, index| %>
                        <item key='<%= index %>'><%= item %></item>
                      <% end %>
                    </dt_array>
                  </item>
               </dt_assoc>
            </item>
         </dt_assoc>
      </data_block>
   </body>
</OPS_envelope>